 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Here you will find a many examples of my work that i consider valuble and worth seing. This is a small part of it of course but will give you a good feeling of my style and technique. </p>
                </div>
                <div class="col-lg-4">
                    <p>My name is Lena Popova and I love taking pictures. I have started this as a hobby but gradually it became my passion therefore I have decided to take education in photography. </p>
                </div>
  <!---              <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>  -->
            </div>
        </div>
    </section>